<h1>Editing first person</h1>

<%= render "form", first_person: @first_person %>

<br>

<div>
  <%= link_to "Show this first person", @first_person %> |
  <%= link_to "Back to first people", first_people_path %>
</div>
