<h1>Editing learned list</h1>

<%= render "form", learned_list: @learned_list %>

<br>

<div>
  <%= link_to "Show this learned list", @learned_list %> |
  <%= link_to "Back to learned lists", learned_lists_path %>
</div>
