<div id="<%= dom_id to_do %>">
  <p>
    <strong>Name:</strong>
    <%= to_do.name %>
  </p>

  <p>
    <strong>Time limit:</strong>
    <%= to_do.time_limit %>
  </p>

  <p>
    <strong>Is finished:</strong>
    <%= to_do.is_finished %>
  </p>

</div>
