<h1>New main</h1>

<%= link_to "最後のメールを編集", edit_main_path(current_user.mains.last) unless current_user.mains.length == 0 %>

<%= render "form", main: @main, errors: nil %>

<br>

<div>
  <%= link_to "Back to mains", mains_path %>
</div>
