<h1>Editing what to do</h1>

<%= render "form", what_to_do: @what_to_do %>

<br>

<div>
  <%= link_to "Show this what to do", @what_to_do %> |
  <%= link_to "Back to what to dos", what_to_dos_path %>
</div>
